body {
    margin: 0;
    background: black;
    color: white;
    font-family: monospace;
}

#animatronicImage {
    width: 100px;
    height: 100px;
}

#office {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#office::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

#leftDoor {
    margin-top: 30px;
    font-size: 18px;
}