body {
    margin: 0;
    background: black;
    color: white;
    font-family: monospace;
}

#animatronicImage {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.animatronics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.animatronicButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.animatronicCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottomButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform:translateY(800px);
}

.bottomButton {
    width: 300px;
    height: 30px;
    background-color: brown;
    border: none;
    border-radius: 5px;
}

#office {
    background-color: black;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

#leftDoor {
    margin-top: 30px;
    font-size: 18px;
}