body {
    margin: 0;
    background: black;
    color: white;
    font-family: monospace;
}

#office {
    width: 100vw;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 20px;
}