body {
    margin: 0;
    background: black;
    color: white;
    font-family: monospace;
}

#menu {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anim {
    margin: 15px;
}

input[type="range"] {
    width: 200px;
}

#office {
    width: 100vw;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 30px;
    font-size: 18px;
}