body {
    margin: 0;
    background: black;
    color: white;
    font-family: monospace;
}

@keyframes flicker {

    0%,
    100% {
        opacity: 0.28;
    }

    50% {
        opacity: 0.31;
    }

    70% {
        opacity: 0.3;
    }
}

#office {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#office::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

#lightOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.26);
    z-index: 10;
    pointer-events: none;
    animation: flicker 4s infinite;
}

#leftDoor {
    margin-top: 30px;
    font-size: 18px;
}